body {
  background-color: thistle;
  background-image: url(6183c53ff993c125e7073c4d2c558cbb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 200vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

